
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>网易新闻</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
 
<body>
  <div id="header"> <a href="#"></a> <a href="#"></a> <a href="#"></a><a href="#"></a> </div>
    <div id="body">
  <div id="search">
    <div id="search_left"></div>
    <div id="search_right"> 
      <div id="search_right_2">
        <div class="input-append">
          
         </div>
       </div> 
     </div>
     <div id="navigate"> <a href="https://news.163.com/" class="selected">首页</a> <a href="/edu">教育</a> <a href="/community">公益</a> <a href="/game">游戏</a> <a href="/travel">旅游</a> <a href="/property">房产</a> <a href="/read">阅读</a> <a href="/sport">体育</a> <a href="/tech">科技</a> <a href="/female">女人</a>  <a href="/car">汽车</a> 
     </div>
 
    </div>
    <div id="recommend_right">
      <div id="recommend_right_1"><img src="static/img/timg.jpg" align"center" width="960" height="400"/> </div>
     
  	<span>by fuck my teammate-yyt</span>
  </div>
</div>
</body>


</html>
