<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体育</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!--
        bootstrap list
    -->
    <div class="list-group">
        {% for new in all_new %}

        <a href={{ new.url }} class="list-group-item list-group-item-action">
            {{ new.title }}
        </a>
        {% endfor %}

    </div>
</div>

</body>
</html>

<style>
    .container{
        text-align: center;
    }
</style>
